@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* #1f72b6 */
:root {
    /* --primary-color: #7C3AED; */
    --primary-color: #1f72b6;
    --link-hover : rgba(80, 150, 231, 0.986);
    /* --off-white: #F1F5F9; */
    --off-white : #219bff99;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-center {
    max-width: 600px;
    margin: auto;

}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 12px 20px 0 rgba(0, 0, 0, 0.1);
}

.secondary-link {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);

}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    color: white;
    padding: 2.5rem 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5em;
    display: inline;
    padding-left: 1rem;

}

.navigation .nav-pills {
    float: right;
    display: inline;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .list-non-bullet {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation ul {
    padding-inline-start: 0px;
}

.link-hover a:hover{
    background-color: var(--link-hover);
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 12px 20px 0 rgba(0, 0, 0, 0.1);
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    /* max-width: 300px; */
    display: block;
    margin: auto;
        
        /* max-width: 100%;
        height: auto;
        left: 0px;
        right: 0px; */
        /* display: inline-block; */
        width: 225px;
        height: 225px;
        /* background: center center; */
        text-align: center;
      
        
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
}

.hero .hero-heading {
    color: var(--dark-gray);
    font-weight: bolder;
    text-align: center;
    padding-top: 1.5rem;

}



.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    font-weight: bolder;
}



.ow {
    background-color: var(--off-white);
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    border-top-right-radius: 1rem;
}

.footer .footer-heading {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.footer .link {
    color: white;
}

.footer .fa {
  padding: 1rem;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.footer .fa-facebook {
    background: #3B5998;
    color: white;
}

.footer .fa-twitter {
    background: #55ACEE;
    color: white;
}

.footer .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.footer .fa-github {
    background: #222;
    color: white;
}

.footer .fa-instagram {
  background: #125688;
  color: white;
}  
.footer ul {
    padding-inline-start: 0px;
}
 /* projects */

 .list-project{
     padding: 0rem 0.5rem;
 }
.article-list {
    padding: 2rem;
    border-radius: 9px;
    margin: 1rem auto;
}